.page-body {
  color: #373737;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.navbar {
  margin: 25px 0;
}

.menu {
  margin: 0 auto;
  padding: 0;
  width: fit-content;
}

.menu-item {
  list-style: none;
  display: inline;
  margin: 0 35px;
}

.menu-link {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;

  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.content {
  margin-bottom: 53px;
}
.content-image {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 10px;
}

.content-text {
  text-align: center;
  margin: 28px 0;
  font-size: 16px;
}

.section {
  margin-top: 48px;
  margin-bottom: 66px;
  padding: 0 67px;
  
}

.btn {
  color: #ffffff;
  background-color: #ff0000;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  padding: 18px 43px;
  font-size: 12px;
  font-weight: bold;
}

.footer {
  text-align: right;
  font-weight: bold;
}

.copyright {
  padding: 29px 105px;
}

